.Board {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 75px;

    tr {
        td {
            height: 70px;
            width: 70px;
            position: relative;
            text-align: center;
            border-right: 5px solid #0da192;
            border-bottom: 5px solid #0da192;

            &:last-child {
                border-right-width: 0;
            }
        }

        &:last-child {
            td {
                border-bottom-width: 0;
            }
        }
    }
}

.Board-Cell {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.Switch32 {
    height: 32px;
    width: 32px;
    fill: none;
    stroke-width: 25px;
}

.Switch16 {
    height: 16px;
    width: 16px;
    fill: none;
    stroke-width: 25px;
}

.Switch-x {
    stroke-width: 25px;
    stroke: rgb(84, 84, 84);
}

.Switch-o {
    stroke: rgb(242, 235, 211);
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
}

.ScoreBoard_Turn {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    height: 20px;
}

.ScoreBoard_Score {
    padding: 20px;
    border-radius: 10px;
    background: white;
    text-align: center;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.ScoreBoard_Title {
    margin-right: 10px;
}

.ScoreBoard_Count {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 30px;
}

.ScoreBoard_Icon {
    padding: 10px;
    background: #00dcc7;
    border: 1px solid #909090;
}

.ScoreBoard_Icon--Turn {
    border: 1px solid Black;
}
