.ScoreBoard {
	padding: 20px;
	border-radius: 10px;
    background: white;
	text-align: center;
	display: flex;
	margin-top: 20px;
	align-items:center;
}

.ScoreBoard_Title{
	margin-right: 10px;
}

.ScoreBoard_Count {
	margin-left: 5px;
	margin-right: 15px;
	font-size: 30px;
}

.ScoreBoard_Icon {
	padding: 10px;
	background: #00dcc7;
}